// colors
$brand: #CDAA7D;
$text: #ffffff;
$bg: #000000;

// general
$text-fz: 18px;
$weight: 400;
$container: 1346px;
$font: 'Cormorant Garamond';
$second-font: 'Garamond';

// breakpoints
$xl: $container;
$lg: 1074px;
$md: 818px;
$sm: 475px;
$xs: 400px;