---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../sections/MainPage/HeroSection.astro';
import QuotesSection from '../sections/MainPage/QuotesSection.astro';
import ServicesSection from '../sections/MainPage/ServicesSection.astro';
---

<Layout title="Delote Beauty">
	<main>
		<HeroSection />
		<QuotesSection />
		<ServicesSection />
	</main>
</Layout>

<style>
	
</style>
