<script>
  window.addEventListener('scroll', () => {
    if(window.scrollY > 0) {
      document.querySelector('.header').classList.add('scrolled')
    } else {
      document.querySelector('.header').classList.remove('scrolled')
    }
  })
</script>

<header class="header">
  <div class="container navbar">
    <!-- icon -->
    <div class="icon">
      <a href="">
        <img src="src/assets/icons/instagram.svg" alt="icon">
      </a>
    </div>

    <!-- menu -->
    <ul class="menu">
      <li class="menu-item">
        <a href="/" class="link">Главная</a>
      </li>
      <li class="menu-item">
        <a href="/masters" class="link">Мастера</a>
      </li>
      <li class="menu-item">
        <a href="/" class="link">Косметика</a>
      </li>
    </ul>

    <!-- logo -->
    <div class="logo">
      <img src="src/assets/icons/logo.svg" alt="logo">
    </div>

    <!-- menu -->
    <ul class="menu">
      <li class="menu-item">
        <a href="/" class="link">Акции</a>
      </li>
      <li class="menu-item">
        <a href="/" class="link">Отзывы</a>
      </li>
      <li class="menu-item">
        <a href="/contacts" class="link">Контакты</a>
      </li>
    </ul>

    <!-- icon -->
    <div class="icon">
      <img src="src/assets/icons/burger-btn.svg" alt="icon">
    </div>
  </div>
</header>

<style lang="scss">
@import "src/assets/styles/utils/var.scss";

.header{
  width: 100%;
  position: fixed;
  transition: 0.3s;
  z-index: 999;

  &.scrolled{
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    .navbar{
      padding: 10px 0;
    }
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;

    .menu{
      display: flex;
      gap: 80px;

      .link{
        font-weight: 600;
        border-bottom: 1px solid transparent;
        transition: 0.3s;

        &:hover{
          color: $brand;
          border-color: $brand;
        }
      }
    }

    .icon{
      cursor: pointer;
    }
  }
}
</style>