<div class="the-title">
  <h2 class="title">
    <slot />
  </h2>
</div>

<style lang="scss">
@import 'src/assets/styles/utils/var.scss';

  .the-title{
    width: 100%;

    .title{
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      font-family: $second-font;
    }
  }
</style>