<section class="quotes">
  <div class="container">
    <div class="wrapper">
      <img src="src/assets/icons/quotes.svg" alt="icon">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique. Viverra augue lorem ut quisque quam tortor, malesuada iaculis. 
      </p>
      <p class="text">
        Et elementum at nulla venenatis, faucibus integer. Auctor neque eros, viverra rutrum. Fames ultrices condimentum tortor nec penatibus. Velit imperdiet sapien fringilla vestibulum sit fames.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .quotes{
    padding: 100px 0;

    .wrapper{
      max-width: 856px;
      text-align: center;
      margin: 0 auto;

      img{
        margin-bottom: 60px;
      }

      .text{
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }
</style>